/* CSS RESET */
audio, canvas, img, video {
  display: inline-block;
  max-width: 100%;
}

fieldset, legend {
  border: 0;
  padding: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, img, input {
  line-height: normal;
}

:focus, a:active, a:hover {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: dotted thin;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  font-size: small;
  vertical-align: middle;
}

br {
  margin-bottom: 200px;
}

figure, form {
  margin: 0;
}

legend {
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

fieldset {
  margin: 0;
}

a, a:link, a:active, a:click {
  color: inherit !important;
  text-decoration: none !important;
  transition: 0.5s;
  outline: none !important;
}

@font-face {
  font-family: "display-font";
  src: url(../fonts/PaytoneOne.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "heading-font";
  src: url(../fonts/ROBO.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "body-font";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "body-font";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "body-font";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --text-primary: #0f172a;
  --background-light: #f8fafc;
  --background-white: #ffffff;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  --primary-color: #3C3F9D;
  --sec-color: #900d8cab;
  --text-black: #0f172a;
  --text-body: #475569;
  --border-color: #e2e8f0;
  --accent-color: rgb(234, 234, 234);
  --accent-blue: #eff6ff;
  --accent-green: #f0fdf4;
  --accent-orange: #fffbeb;
  --border-blue: #bfdbfe;
  --border-green: #bbf7d0;
  --border-orange: #fed7aa;
}

.font-heading {
  font-family: "heading-font";
  font-size: 1.25rem;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--sec-color);
}

.fw-lighter {
  font-weight: lighter;
}

.fw-bold {
  font-weight: bolder;
}

.fa-pseudo::after,
.fa-pseudo::before {
  font-family: "font awesome 5 free";
  font-weight: bold;
  display: inline-block;
}

.account-deletion .section__content.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--background-white);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
@media (min-width: 992px) {
  .account-deletion .section__content.main {
    padding-left: 72px;
    padding-right: 72px;
  }
}
.account-deletion .section__content.main > div:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 32px;
}
.account-deletion .section-title {
  display: block;
  color: var(--text-black);
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.account-deletion .hero {
  position: relative;
  overflow: hidden;
  background-image: url("../images/hero-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.account-deletion .hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(11, 25, 52, 0.7529411765);
  background-image: linear-gradient(358deg, #190415, rgba(0, 182, 255, 0.3294117647), rgba(30, 124, 134, 0.6509803922));
}
.account-deletion .hero .title {
  font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
  color: white;
  font-family: "display-font";
  text-align: left;
  margin-top: 48px;
  position: relative;
}
.account-deletion ul li {
  display: flex;
  flex-direction: row;
}
.account-deletion ul .count {
  flex-shrink: 0;
  font-weight: 500;
  margin-right: 5px;
}
.account-deletion .container-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .account-deletion .container-form {
    flex-direction: row;
    gap: 32px;
  }
  .account-deletion .container-form > div {
    width: 45%;
    flex-shrink: 0;
    flex-grow: 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-light);
  color: var(--text-body);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
    line-height: 1.7;
  }
}
body.menu-hidden .wrapper-menu {
  left: -9999px;
}
body.menu-hidden .header {
  position: absolute;
}
body .title {
  font-family: "display-font";
  font-size: 1.35rem;
  color: black;
}

.section__content {
  padding: 50px 16px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .section__content {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 768px) {
  .section__content {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .section__content {
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: 0.5s;
}
.header .section__content {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 992px) {
  .header .section__content {
    gap: 0;
  }
}
.header__shown {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.header__shown .menu-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 16px;
  position: relative;
  z-index: 10;
}
.header .brand-logo {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-weight: bolder;
  color: white;
  font-size: 20px;
}
.header .brand-logo .logo {
  display: inline-block;
  height: 24px;
}
@media (min-width: 992px) {
  .header .brand-logo .logo {
    height: 32px;
  }
}
.header .menu-hamburger {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
@media (min-width: 992px) {
  .header .menu-hamburger {
    display: none;
  }
}
.header .menu-hamburger.animate .line-one {
  transform: rotate(-36deg);
  transform-origin: left;
  top: 6px;
  width: 15px;
  margin: 0;
}
.header .menu-hamburger.animate .line-two {
  width: 30px;
}
.header .menu-hamburger.animate .line-three {
  transform: rotate(36deg);
  transform-origin: left;
  bottom: 6px;
  width: 15px;
  margin: 0;
}
.header .menu-hamburger .line {
  position: relative;
  height: 1px;
  width: 30px;
  margin-left: auto;
  background-color: var(--accent-color);
  transition: 0.5s;
}
.header .menu-hamburger .line-two {
  margin-top: 5px;
  height: 2px;
  margin-bottom: 5px;
  width: 15px;
}
.header .menu-hamburger .line-three {
  width: 25px;
}
.header .wrapper-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.859);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  z-index: 3;
  gap: 16px;
}
@media (min-width: 992px) {
  .header .wrapper-menu {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  .header .wrapper-menu {
    width: auto;
    flex-direction: row;
    background-color: transparent;
    position: static;
    height: auto;
    gap: 0;
  }
}
.header .menu-link {
  padding: 12px 16px;
  border-radius: 8px;
  display: inline-block;
  transition: background 0.75s;
  color: var(--accent-color);
  white-space: nowrap;
}
.header .menu-link.active {
  background-color: var(--primary-color);
  background-image: linear-gradient(7deg, rgba(144, 13, 140, 0.4117647059), transparent);
  color: white;
  font-size: small;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header .menu-link.active {
    font-size: inherit;
  }
}
.header .menu-link:hover {
  background-color: rgba(36, 19, 24, 0.584);
}

.hero-section {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../images/hero-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.hero-section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(11, 25, 52, 0.7529411765);
  background-image: linear-gradient(358deg, #190415, rgba(0, 182, 255, 0.3294117647), rgba(30, 124, 134, 0.6509803922));
}
.hero-section .title {
  font-size: 32px;
  color: white;
  font-family: "display-font";
}
@media (min-width: 768px) {
  .hero-section .title {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .hero-section .title {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .hero-section .title {
    font-size: 52px;
  }
}
.hero-section .section__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: center;
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--accent-color);
  color: white;
}
@media (min-width: 992px) {
  .hero-section .section__content {
    max-width: 900px;
  }
}
.hero-section .hero-btns {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.hero-section .hero-btns .btn {
  border: 1px solid white;
  color: white;
  font-weight: 700;
  padding: 12px 16px;
  font-size: small;
}
@media (min-width: 768px) {
  .hero-section .hero-btns .btn {
    font-size: inherit;
  }
}
.hero-section .hero-btns .btn.main {
  background-color: white;
  color: var(--primary-color);
}

.hiw .section__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .hiw .section__content {
    gap: 32px;
  }
}
@media (min-width: 992px) {
  .hiw .section__content {
    gap: 48px;
  }
}
.hiw .wrapper-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hiw .top-content {
  display: flex;
  gap: 8px;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
}
.hiw .steps-breakdown {
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 0px 14px 0px rgba(214, 214, 214, 0.6);
}
@media (min-width: 480px) {
  .hiw .steps-breakdown {
    padding: 48px;
    gap: 32px;
  }
}
@media (min-width: 768px) {
  .hiw .steps-breakdown {
    padding: 64px;
    gap: 32px;
  }
}
@media (min-width: 992px) {
  .hiw .steps-breakdown {
    flex-direction: row;
    padding: 72px 64px;
  }
}
.hiw .steps-breakdown .step {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.hiw .steps-breakdown .numbering {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 26, 69, 0.688);
  background-image: linear-gradient(45deg, #3181e4, transparent);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  flex-shrink: 0;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.hiw .steps-breakdown .step-title {
  font-weight: 600;
  color: black;
}
.hiw .linked-stages {
  display: flex;
  flex-direction: row;
}
.hiw .linked-stages > div {
  flex-grow: 1;
  position: relative;
  color: black;
}
.hiw .linked-stages > div::before, .hiw .linked-stages > div::after {
  display: block;
  content: "";
  height: 1px;
  width: 50%;
  background-color: var(--primary-color);
  position: absolute;
  top: 12px;
}
.hiw .linked-stages > div::before {
  left: 0;
}
.hiw .linked-stages > div::after {
  right: 0;
}
.hiw .linked-stages > div:nth-child(1)::before {
  display: none;
}
.hiw .linked-stages > div:nth-child(3)::after {
  display: none;
}
.hiw .linked-stages span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: white;
}
.hiw .linked-stages span::before {
  font-family: "font awesome 5 free";
  font-weight: bold;
  display: inline-block;
  content: "\f00c";
  font-size: 10px;
  color: var(--sec-color);
}

.contest {
  background-color: white;
}
.contest .section__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .contest .section__content {
    gap: 32px;
  }
}
@media (min-width: 992px) {
  .contest .section__content {
    gap: 48px;
  }
}
.contest .container-carousel {
  border-radius: 16px;
  overflow: hidden;
}
.contest .wrapper-columns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .contest .wrapper-columns {
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  .contest .wrapper-columns .container-carousel {
    width: 50%;
    flex-shrink: 0;
  }
}
.contest .wrapper-columns .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contest .contest-features {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .contest .contest-features {
    flex-direction: row;
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  .contest .contest-features {
    gap: 32px;
  }
}
.contest .feature {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  padding: 24px;
  border-radius: 16px;
  transition: 0.35s;
  box-shadow: 0 0 7px 0px rgba(200, 200, 200, 0.6666666667);
  position: relative;
  overflow: hidden;
}
.contest .feature::before {
  content: "";
  display: block;
  height: 150px;
  width: 150px;
  background-color: rgba(78, 17, 17, 0.1);
  border-radius: 50%;
  position: absolute;
  bottom: -75px;
  right: -50px;
  z-index: 0;
}
.contest .feature:hover {
  box-shadow: 0 0 9px 0px #c8c8c8;
  transform: scale(1.02);
}
@media (min-width: 992px) {
  .contest .feature {
    padding: 32px;
  }
}
.contest .feature .title {
  font-weight: bold;
  color: black;
  font-family: inherit;
  font-size: inherit;
}
.contest .feature:nth-child(2) {
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}
.contest .icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

.faq {
  background-color: white;
}
.faq .section__content {
  border-top: 2px solid var(--border-color);
}
.faq .wrapper-columns {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .faq .wrapper-columns {
    flex-direction: row;
    gap: 48px;
  }
  .faq .wrapper-columns .column-left {
    width: 350px;
    flex-shrink: 0;
  }
}
.faq .faq-accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq .question {
  font-weight: 500;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.faq .question::before {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
  justify-content: center;
  content: "-";
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--border-color);
  color: var(--primary-color);
  transition: 0.5s;
}
.faq .question.collapsed::before {
  content: "+";
}
.faq .accordion-body {
  padding-left: 51px;
}

.contact .section__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .contact .section__content {
    gap: 2rem;
  }
}
@media (min-width: 992px) {
  .contact .section__content {
    gap: 3rem;
  }
}
.contact .wrapper-columns {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 992px) {
  .contact .wrapper-columns {
    flex-direction: row;
  }
  .contact .wrapper-columns > .wrapper-form {
    width: 55%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.contact .social-media-handles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact .social-media-handles ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}
form .input-columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
form .input-columns > div {
  flex-grow: 1;
}
form .wrapper-input {
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: rgba(210, 210, 210, 0.2);
  padding: 16px;
  border-radius: 8px !important;
  overflow: hidden;
}
form textarea.input-field {
  font-family: inherit;
}
form .input-field {
  display: block;
  border: none;
  color: black;
  background-color: transparent;
  width: 100%;
}
form .input-field::placeholder {
  color: #464646;
}
form .input-field::-webkit-input-placeholder {
  color: #464646;
}
form .input-field:-moz-placeholder {
  color: #464646;
  opacity: 1;
}
form .input-field::-moz-placeholder {
  color: #464646;
  opacity: 1;
}
form .input-field:-ms-input-placeholder {
  color: #464646;
  opacity: 1;
}
form .btn-submit-form {
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: bold;
  width: auto;
  align-self: flex-start;
  border: none;
  background-color: var(--primary-color);
  background-image: linear-gradient(7deg, rgba(144, 13, 140, 0.6705882353), transparent);
  color: white;
  font-size: small;
}
form .btn-submit-form::after {
  content: "\f1d8";
  margin-left: 7px;
}
form .btn-submit-form.processing::after {
  content: "\f110";
  display: inline-block;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
form .form-response {
  font-size: small;
  color: orange;
  display: block;
}
form .form-response.success {
  color: rgb(0, 77, 3);
}

.social-icon {
  display: block;
  height: 48px;
  width: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-color: white;
  color: var(--sec-color);
  text-align: center;
  font: 14px;
}

footer .section__content {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 992px) {
  footer .section__content .wrapper-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  footer .footer-links {
    flex-direction: row;
    gap: 1rem;
  }
}
@media (min-width: 992px) {
  footer .footer-links .caption {
    display: none;
  }
}
footer .footer-links ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  footer .footer-links ul {
    flex-direction: row;
  }
}
footer .labeled-socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  footer .labeled-socials {
    flex-direction: row;
    gap: 2rem;
  }
}
footer .labeled-socials li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}
footer .labeled-socials .name {
  font-size: small;
  color: gray;
}
footer .footer-attribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
  gap: 0.5rem;
}

.info-box {
  background: var(--accent-blue);
  border: 1px solid var(--border-blue);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.info-box .icon {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.warning-box {
  background: var(--accent-orange);
  border: 1px solid var(--border-orange);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.warning-box .icon {
  color: #ea580c;
  margin-right: 0.5rem;
}

.success-box {
  background: var(--accent-green);
  border: 1px solid var(--border-green);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.success-box .icon {
  color: #16a34a;
  margin-right: 0.5rem;
}/*# sourceMappingURL=stylesheet.css.map */