RewriteEngine On 

# Force HTTPS
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Skip rewriting if it's a real file or folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Serve .html or .php files without extension
RewriteCond %{REQUEST_FILENAME}.html -f [OR]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.html [L]

ErrorDocument 404 https://disbux.com

#ENV
setEnv INTERNAL_PROXY_KEY ca66b4e75d6722c5d73480e27d309f6478465935d07c9a7f1a9b3f04ea87f9a1
setEnv BACKEND_API_URL https://disbux-production.up.railway.app/api